
/modelodatosnegocios 
/backend 
/modelodatosnegocios

pyproject.toml
directory.txt
poetry.lock

# Ignorar todos los archivos pycache
__pycache__/

# Ignorar pycache en subdirectorios
*/__pycache__/

__pycache__/
**/__pycache__/

# Ignorar todos los archivos pycache
**/*.py[cod]